{{ form_start(userForm) }}
    {{ form_row(userForm.email, {
        label: 'Email du salarié:'
    }) }}
    {{ form_row(userForm.forname) }}
    {{ form_row(userForm.surname) }}
    {{ form_row(userForm.nbPersonne) }}
{{ form_row(userForm.isComite) }}
{{ form_row(userForm.phoneNumber) }}
{{ form_row(userForm.syndicat) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(userForm) }}