{{ form_start(toolForm) }}
    {{ form_row(toolForm.name, {
        label: 'Nom du matériel:'
    }) }}
    {{ form_row(toolForm.description) }}
    {{ form_row(toolForm.price) }}


<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(toolForm) }}