{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center site__title">
            <h1>Contactez Nous !!!</h1>
        </div>

        <div class="row tool__table">


                {{ form_start(contactForm) }}

               {{ form_row(contactForm.nameContact) }}
                {{ form_row(contactForm.emailContact) }}
                {{ form_row(contactForm.messageContact) }}



            <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(contactForm) }}

        </div>
    </div>

{% endblock %}