{% block subject 'Welcome to newsletter, ' %}

{% block body_html %}
    This is the <strong>HTML body</strong>.
{% endblock %}

{% block body_text %}

    <div class="container">
    <div class="row justify-content-center site__title">
        <h1>{{commande.user.forname }} {{commande.user.surname}}</h1>
    </div>

    <div class="row tool__table">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Billet</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>

        </tr>
        </thead>
        <tbody>
        {% for item in commande.ligneRequest %}
            <tr>
                <td>{{ item.ticket.title }}</td>
                <td>{{ item.ticket.priceCE }}</td>
                <td>{{ item.NbTicket }}</td>
                <td>{{ item.price}}€</td>

            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td>{{ commande.price }}€</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}