{% extends 'base.html.twig' %}
{% block title %}{{ pvce.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pvce') }}
{% endblock %}

{% block body %}

<div class="container">
    <div class="site__title text-center">
        <h1>{{ pvce.title }}</h1>
    </div>
    <div class="row">
            <div class="col-sm-8">
               <div id="app">
  <div id="toolbar">
    <div id="pager">
     <button data-pager="prev">prev</button>
     <button data-pager="next">next</button>
    </div>
    <div id="page-mode">
     <label>Page Mode <input type="number" value="1" min="1"></label>
    </div>
  </div>
  <div id="viewport" role="main"></div>

</div>
            </div>
    <div class="col-sm-4 site__references">
                <div class="site__references__title text-center">
            <h3>PV de CSE</h3>

                </div>
        <div class="site__references__lien">
        {% for pv in pvces %}
            <a href="{{ path('app_PvCSE', {
                id: pv.id
            }) }}">
                {{ pv.title}}
            </a><br><br>
        {%  endfor %}
    </div>

    </div></div>

{% endblock %}
            {% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/pdfjs-dist@latest/build/pdf.min.js"></script>
                {{ encore_entry_script_tags('pvce') }}
<script>
  window.onload = () => {
    {#initPDFViewer("{{ asset('uploads/pvce_Pdf/P.V. DE LA REUNION DU C.E. décembre 2018.pdf')}}")#}
      initPDFViewer("{{uploaded_asset(pvce.pdfPath)}}")
  }
</script>
{% endblock %}