{% extends 'comite_admin/admin.html.twig' %}





{% block content_body %}
    <a href="{{ path('admin_pvcse_new') }}" class="btn btn-primary pull-right">
        Nouveau  <span class="fa fa-plus-circle"></span>
    </a>

    <h1>Tous les PV</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Date de Publication</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for pvce in pvcses %}
            <tr>
                <td>{{ pvce.title }}</td>
                <td>{{ pvce.publishedAt|date('d/m/Y')  }}</td>
                <td>
                    <a href="{{ path('admin_pvcse_edit', {
                        id: pvce.id
                    }) }}">
                        <span class="fa fa-pencil"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_pvcse_delete', {
                        id: pvce.id
                    }) }}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

